@model MichelleReyesP1.Models.Reserva

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_entrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_salida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_salida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAPagar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAPagar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.infromacionCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.infromacionCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
